body{
font-family: quasimoda, sans-serif;
font-weight: 400;
font-style: normal;
background-color: #fef6e4;
}

header {
font-family: quasimoda,sans-serif;
font-weight: 700;
font-style: normal;
font-size: 50px;
text-align: center;
background-color: #bae8e8;
color: black;
margin: 20px;
padding: 20px;
}

p{
    text-align: center;
}
img{
    max-width: 100px;
    position: absolute;
    z-index: -5;
    margin-left: 50px;
}

.current{
    text-align: center;
    font-weight: bolder;
}

.forecast{
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    text-align: center;
    border-radius: 30px;
}

.uvguidestyle{
    position: relative;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .forecast {
        margin-left: 45px;
    }
    #savecity{
        text-align: center;
        margin-left: 550px;
    }
    .uvguide{
        max-width: 300px;
        margin-left: 670px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

}
#day1, #day2, #day3, #day4, #day5{
    font-weight: bolder;
}

.spacetop{
    margin-top: 10px;
}

textarea{
    border: 0ch;
    line-height: 3.5px;
    max-width: 100px;
    text-align: center;
}

.uvguide{
    text-align: center;
    background-color: white;
    font-size: smaller;
}

.uvguidestyle{
    margin-top: 50px;
}

.search{
    margin-top: 40px;
    text-align: center;
}
.icons{
    padding: 10px;
    position: relative;
    margin-right: 50px;
    margin-top: 10px;
    background-color: white;
    border-radius: 50px;
}

#savecity{
    max-width: 500px;
}

button{
    background-color: white;
    border: none;
}