body{
font-family: quasimoda, sans-serif;
font-weight: 400;
font-style: normal;
}

header {
font-family: ruddy,sans-serif;
font-weight: 700;
font-style: normal;
font-size: 50px;
text-align: center;
background-color: #ABE3FA;
color: black;
margin: 20px;
}

img{
    max-width: 100px;
    position: absolute;
    z-index: -5;
    margin-left: 50px;
}

.current{
    text-align: center;
}

.forecast{
    margin-left: 43px;
    margin-top: 40px;
    position: relative;
    text-align: center;
    border-radius: 30px;
    background-color: pink;
}

#day1, #day2, #day3, #day4, #day5{
    font-weight: bolder;
    background-color: orange;
}

.spacetop{
    margin-top: 10px;
}

textarea{
    border: 0ch;
    line-height: 3.5px;
    text-align: center;
}
.searchhistory{
    margin-top: 40px;
}